In [1]:
x=1
type(x)

int

In [2]:
x=1.0
type(x)

float

In [6]:
t1 = True
type(t1)

bool

In [7]:
x=1
'Day'+str(1)

'Day1'

In [10]:
a=20
print(a, 'is a', type(a), 'type')

20 is a <class 'int'> type

# Dictionary

In [18]:
FirstString="Python is a"
SecondString=" beautiful"
ThirdString=" Language"
print(FirstString +  SecondString +  ThirdString)

Python is a beautiful Language

In [19]:
list1=[20,'Raji',11.35]
print(list1)

[20, 'Raji', 11.35]

In [36]:
l1=['a','b','c','d','e']
l1

['a', 'b', 'c', 'd', 'e']

In [37]:
l1.extend(['f','g','h','i'])
l1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [38]:
l1[1:7]

['b', 'c', 'd', 'e', 'f', 'g']

In [41]:
l1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [43]:
l1+['hello','34']

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'hello', '34']

In [46]:
l1.insert(1,'Rithi')
l1

['a', 'Rithi', 'Rithi', 'Rithi', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [52]:
l1.pop(0)
l1

['b', 'c', 'd', 'e', 'f', 'g', 'h']

In [50]:
l1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [55]:
l1.reverse()
l1
l1.sort()
l1

['b', 'c', 'd', 'e', 'f', 'g', 'h']

# Tuple

In [20]:
tuple=(11,"Baskar",36.22)
print(tuple)

(11, 'Baskar', 36.22)

In [22]:
d1={'Name':'Baskar','Age':30}
print(d1)

{'Name': 'Baskar', 'Age': 30}

# Set

In [57]:
set={1,'Rithu'}
print(set)
strng =['Apple','Grapes','Orange','Kiwi','Gauva','Pineapple']
set(strng)

{1, 'Rithu'}

TypeError: 'set' object is not callable

In [59]:

strng = ['Apple','Grapes','Orange','Kiwi','Gauva','Pineapple']
strng

['Apple', 'Grapes', 'Orange', 'Kiwi', 'Gauva', 'Pineapple']

In [60]:
set(strng)

TypeError: 'set' object is not callable

In [61]:
numbers=[3,9,7,4,7,9]

sum=1

for val in numbers:
    sum=sum+val
    
    print(sum)
    
print("The sum is",sum)

4
13
20
24
31
40
The sum is 40

In [62]:
print(range(10))

range(0, 10)

In [63]:
print(list(range(2,9)))

[2, 3, 4, 5, 6, 7, 8]

In [64]:
print(list(range(2,11,2)))

[2, 4, 6, 8, 10]

In [65]:
device=['laptop','Mobile','Tab','tv']

for i in range(len(device)):
    print('I like',device[i])

I like laptop
I like Mobile
I like Tab
I like tv

# Break

In [71]:
for val in "String":
    if(val=="i"):
        continue
    print(val)
print("The end")

S
t
r
n
g
The end

In [77]:
for val in[10,20,35,56,78]:

    if val>25:
        break
    print(val)

10
20

In [81]:
for val in "stringexample":
   
    if val=="i":
         
        continue
    
    else:
        if val=='x':
            break
            print(val)
    print(val)
print("The end")

s
t
r
n
g
e
The end